<%= form_for(@lecture) do |f| %>
  <% if @lecture.errors.any? %>
    <div id="error explanation">
      <h2><%= pluralize(@lecture.errors.count, "error") %> prohibited this lecture from being saved:</h2>
      <ul>
        <% @lecture.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>
  </div>
  <div class="field">
    <%= f.label :text_body %><br>
    <%= f.text_area :text_body %><br>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

